<div class="container" id="app">
   
    <br/>
    <usertable></usertable>
  <br>
</div>
<mat-checkbox>Check me!</mat-checkbox>

 <autocomplete></autocomplete>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
 <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumb-label]="thumbLabel"
        [tick-interval]="tickInterval"
        [(ngModel)]="value"
        [vertical]="vertical">
    </mat-slider>
    <br>

    <menu></menu>

    <br>

    <gridlist></gridlist>
    <br>

    <card></card>

    <br>
    <app-stepwise></app-stepwise>

    <br>


    <app-tabs></app-tabs>
    <br>
    <br>
    <br>
    <br>
    <br>
    Accordian panal
    <app-accordian></app-accordian>
    <br>
    <br>
    <br>
    <app-dialog></app-dialog>
    <br>
    <br>
    <app-snackbar></app-snackbar>

    <br>
    <app-tablehttp></app-tablehttp>
    <br>
    <br>
    <br>